{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Passwort Beantragen" %}{% endblock %}
{% block header %}{% trans "Passwort Beantragen" %}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% include "already_logged_in.html" %}
{% endif %}

<p>Sind Sie neu registriert oder haben Sie Ihr Passwort vergessen?</p>
<p>Wenn Sie Ihre Email-Adresse unten eintragen senden wir Ihnen Ihr Passwort erneut zu.</p>

{% if form %}
<form method="POST" action="{% url 'account_password_request' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="action">{% trans "Senden" %}</button>
</form>
{% else %}
<p>{% trans 'Ihr Passwort wurde abgeschickt.' %}</p>
{% endif %}

{% endblock %}

{% block extra_body %}
<script>
        $("#id_email").focus();

</script>
{% endblock %}
